@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-menu-title-content {
font-size: 18px;
color: #ffffff;
padding-left: 10px;

}



.ant-menu-item > svg {
  color: #ffffff !important;
}


.sidebar-menu{
  background-color: #CD0335 !important;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.ant-menu-item-selected{
  color: red !important;
}
.ant-menu-item-selected >span > a {
  color: red !important;
  font-size: 18px;
}

.ant-menu-item-selected > svg {
  color: #CD0335 !important;
} 